ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: rgb(255, 0, 0);
  }
  
  li {
    float: left;
  }
  
  li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  
  li a:hover {
    background-color: #111;
  }

body {
  font-size: 1.25rem;
  font-family: 'formula1', sans-serif;
  line-height: 150%;
}

@font-face {
  font-family: 'formula1';
  src: url(./font/Formula1-Bold_web_0.ttf)
}

.pilot {
  max-width: 49%;
  height: auto;
  width: auto\9; 
}

table, th, td {
  border:1px solid black;
}